<suite name="GroupedSuite">
    <test name="UnitTests">
        <groups>
            <run>
                <include name="factorial"/>
                <include name="trangle"/>
                <include name="arithmetic"/>
                <include name="compare"/>
            </run>
        </groups>
        <classes>
            <class name="MyTest"/>
        </classes>
    </test>
</suite>